# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
.obsidian


# Exclude macOS Finder (System Explorer) View States
.DS_Store

venv

# Test Vaults
## Fixture
!test-vaults/fixture/.obsidian
test-vaults/fixture/.obsidian/**/workspace.json
test-vaults/fixture/.obsidian/**/workspaces.json
test-vaults/fixture/.obsidian/plugins/*/main.js
test-vaults/fixture/.obsidian/plugins/*/manifest.json
test-vaults/fixture/.obsidian/plugins/*/styles.css

## Sandbox
test-vaults/sandbox